<div class="d1">

<div class="container-sm">
<div>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore minima facere fuga illo nam dicta temporibus
        assumenda alias cumque vero fugit, aliquid cum impedit architecto suscipit quam libero ea ullam hic aperiam
        quidem. Placeat earum tempora corrupti dolorem possimus, id iste quisquam omnis harum repellat doloremque ea
        expedita maiores cum perspiciatis mollitia eum fugit facere, quasi distinctio officia nemo recusandae. Ipsa ab,
        tempore ipsam dolore, a sint id neque itaque, nam ratione ut consectetur dolor provident reprehenderit? Dolorum
        hic at accusantium, aliquid provident aspernatur. Repudiandae, odit cum? At ut laudantium voluptatem ipsa
        repellat cumque officiis consequuntur aliquam saepe exercitationem esse, debitis, iure nesciunt magnam eos id
        omnis minima quis soluta nisi. Nihil quisquam, iusto incidunt repudiandae sapiente labore praesentium autem
        fugiat mollitia? Ut libero ipsam laborum quibusdam ad explicabo dignissimos sed, dolores quos vero nihil eveniet
        inventore, itaque, fuga voluptatum fugit officia! Beatae rerum maxime in dolorum voluptatibus, dolores similique
        magni, unde consequatur reprehenderit tempore voluptate ducimus. Eligendi odio commodi ut ipsum voluptas harum,
        cumque iusto doloribus fugit aut dolore eum cum voluptatem distinctio pariatur totam eaque. Id maxime similique
        accusamus pariatur tenetur quo architecto aliquam explicabo magni atque veniam assumenda veritatis ipsam eos
        beatae ea, corrupti facere natus placeat!</p>
</div><br><br>
<div>
    <h2>Departments</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore minima facere fuga illo nam dicta temporibus
        assumenda alias cumque vero fugit, aliquid cum impedit architecto suscipit quam libero ea ullam hic aperiam
        quidem. Placeat earum tempora corrupti dolorem possimus, id iste quisquam omnis harum repellat doloremque ea
        expedita maiores cum perspiciatis mollitia eum fugit facere, quasi distinctio officia nemo recusandae. Ipsa ab,
        tempore ipsam dolore, a sint id neque itaque, nam ratione ut consectetur dolor provident reprehenderit? Dolorum
        hic at accusantium, aliquid provident aspernatur. Repudiandae, odit cum? At ut laudantium voluptatem ipsa
        repellat cumque officiis consequuntur aliquam saepe exercitationem esse, debitis, iure nesciunt magnam eos id
        omnis minima quis soluta nisi. Nihil quisquam, iusto incidunt repudiandae sapiente labore praesentium autem
        fugiat mollitia? Ut libero ipsam laborum quibusdam ad explicabo dignissimos sed, dolores quos vero nihil eveniet
        inventore, itaque, fuga voluptatum fugit officia! Beatae rerum maxime in dolorum voluptatibus, dolores similique
        magni, unde consequatur reprehenderit tempore voluptate ducimus. Eligendi odio commodi ut ipsum voluptas harum,
        cumque iusto doloribus fugit aut dolore eum cum voluptatem distinctio pariatur totam eaque. Id maxime similique
        accusamus pariatur tenetur quo architecto aliquam explicabo magni atque veniam assumenda veritatis ipsam eos
        beatae ea, corrupti facere natus placeat!</p>
</div><br><br>

<div>
    <h2>Placement</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore minima facere fuga illo nam dicta temporibus
        assumenda alias cumque vero fugit, aliquid cum impedit architecto suscipit quam libero ea ullam hic aperiam
        quidem. Placeat earum tempora corrupti dolorem possimus, id iste quisquam omnis harum repellat doloremque ea
        expedita maiores cum perspiciatis mollitia eum fugit facere, quasi distinctio officia nemo recusandae. Ipsa ab,
        tempore ipsam dolore, a sint id neque itaque, nam ratione ut consectetur dolor provident reprehenderit? Dolorum
        hic at accusantium, aliquid provident aspernatur. Repudiandae, odit cum? At ut laudantium voluptatem ipsa
        repellat cumque officiis consequuntur aliquam saepe exercitationem esse, debitis, iure nesciunt magnam eos id
        omnis minima quis soluta nisi. Nihil quisquam, iusto incidunt repudiandae sapiente labore praesentium autem
        fugiat mollitia? Ut libero ipsam laborum quibusdam ad explicabo dignissimos sed, dolores quos vero nihil eveniet
        inventore, itaque, fuga voluptatum fugit officia! Beatae rerum maxime in dolorum voluptatibus, dolores similique
        magni, unde consequatur reprehenderit tempore voluptate ducimus. Eligendi odio commodi ut ipsum voluptas harum,
        cumque iusto doloribus fugit aut dolore eum cum voluptatem distinctio pariatur totam eaque. Id maxime similique
        accusamus pariatur tenetur quo architecto aliquam explicabo magni atque veniam assumenda veritatis ipsam eos
        beatae ea, corrupti facere natus placeat!</p>
</div><br><br>
<div>
    <h2>Library</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore minima facere fuga illo nam dicta temporibus
        assumenda alias cumque vero fugit, aliquid cum impedit architecto suscipit quam libero ea ullam hic aperiam
        quidem. Placeat earum tempora corrupti dolorem possimus, id iste quisquam omnis harum repellat doloremque ea
        expedita maiores cum perspiciatis mollitia eum fugit facere, quasi distinctio officia nemo recusandae. Ipsa ab,
        tempore ipsam dolore, a sint id neque itaque, nam ratione ut consectetur dolor provident reprehenderit? Dolorum
        hic at accusantium, aliquid provident aspernatur. Repudiandae, odit cum? At ut laudantium voluptatem ipsa
        repellat cumque officiis consequuntur aliquam saepe exercitationem esse, debitis, iure nesciunt magnam eos id
        omnis minima quis soluta nisi. Nihil quisquam, iusto incidunt repudiandae sapiente labore praesentium autem
        fugiat mollitia? Ut libero ipsam laborum quibusdam ad explicabo dignissimos sed, dolores quos vero nihil eveniet
        inventore, itaque, fuga voluptatum fugit officia! Beatae rerum maxime in dolorum voluptatibus, dolores similique
        magni, unde consequatur reprehenderit tempore voluptate ducimus. Eligendi odio commodi ut ipsum voluptas harum,
        cumque iusto doloribus fugit aut dolore eum cum voluptatem distinctio pariatur totam eaque. Id maxime similique
        accusamus pariatur tenetur quo architecto aliquam explicabo magni atque veniam assumenda veritatis ipsam eos
        beatae ea, corrupti facere natus placeat!</p>
</div><br><br>
<div>
    <h2>Login</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore minima facere fuga illo nam dicta temporibus
        assumenda alias cumque vero fugit, aliquid cum impedit architecto suscipit quam libero ea ullam hic aperiam
        quidem. Placeat earum tempora corrupti dolorem possimus, id iste quisquam omnis harum repellat doloremque ea
        expedita maiores cum perspiciatis mollitia eum fugit facere, quasi distinctio officia nemo recusandae. Ipsa ab,
        tempore ipsam dolore, a sint id neque itaque, nam ratione ut consectetur dolor provident reprehenderit? Dolorum
        hic at accusantium, aliquid provident aspernatur. Repudiandae, odit cum? At ut laudantium voluptatem ipsa
        repellat cumque officiis consequuntur aliquam saepe exercitationem esse, debitis, iure nesciunt magnam eos id
        omnis minima quis soluta nisi. Nihil quisquam, iusto incidunt repudiandae sapiente labore praesentium autem
        fugiat mollitia? Ut libero ipsam laborum quibusdam ad explicabo dignissimos sed, dolores quos vero nihil eveniet
        inventore, itaque, fuga voluptatum fugit officia! Beatae rerum maxime in dolorum voluptatibus, dolores similique
        magni, unde consequatur reprehenderit tempore voluptate ducimus. Eligendi odio commodi ut ipsum voluptas harum,
        cumque iusto doloribus fugit aut dolore eum cum voluptatem distinctio pariatur totam eaque. Id maxime similique
        accusamus pariatur tenetur quo architecto aliquam explicabo magni atque veniam assumenda veritatis ipsam eos
        beatae ea, corrupti facere natus placeat!</p>
</div><br><br>
</div> 
<div class="d3 container-fluid bg-primary">
    <footer class="d3">Copyright &copy; 2021. All rights Reserved. xyzcollege.com</footer>
</div>