/*.div{
    size: 300px;
    background-color:green;
    outline: red;;
}*/


.d1{
    /*background-color:lightgray;*/
    font-style: italic;
    padding:0px;
    margin-top:0px;
    border:0px;
    position:fixed;
    height:70px;
    color:white;
}
.main-bg{
    /*background-image: url('/assets/img1.jpg');*/
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 200px;
            padding-bottom: 200px;
            height: auto;
            margin: 0px;
            padding-right:0px;
            max-width: 100%;
    height: auto;
    width: 100%;

}


a{
    font-size: 18px;
   text-align: left;
}

.h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.n1{
    font-size: 30px;
    color:white;
    font-weight: 900;
    padding:0px;
    margin:0px;
}









body{
    margin:0px;
    padding:0px;
}
html{
    padding:0px;
    margin:0px;
    border:0px;
}