<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<div class="d1 container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

          <a class="navbar-brand n1" href="#">XYZ COLLEGE OF ENGINEERING & TECHNOLOGY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse n2 justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav m-0 mb-2 mb-lg-0">
              <li class="nav-item">
                <a routerLink="/about" class="nav-link" routerLinkActive="active" href="#">About </a>
              </li>
              <li class="nav-item">
                <a routerLink="/departments" class="nav-link" routerLinkActive="active" href="#"> Departments </a>

              </li>
              <li class="nav-item"><a class="nav-link" routerLink="/placement" routerLinkActive="active" href="#">
                  Placement </a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/library" routerLinkActive="active" href="#">
                  Library </a>
              <li class="nav item"> <a class="nav-link" routerLink="/login" routerLinkActive="active" href="#">
                  Login </a>
              </li>


            </ul>
          </div>
        </div>


      </nav>
    </div>
  </div>
</div>


<div class="d2 container-fluid">

  <div class="main-bg p-5 text-center img-fluid" style="
  background-image: url('/assets/img2.jpg');
  height: 400px;"> </div>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
         <a class="navbar-brand n1" href="#">COLLEGE WEBSITE</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav m-0  justify-content-left">
            <li class="nav-item">
              <a routerLink="/about" class="nav-link" routerLinkActive="active">About  </a>
            </li>
            <li class="nav-item">
              <a routerLink="/departments" class="nav-link" routerLinkActive="active"> Departments </a>

            </li>
            <li class="nav-item"><a  class="nav-link" routerLink="/placement" routerLinkActive="active"> Placement </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/library" routerLinkActive="active"> Library </a>
              <li class="nav item">  <a class="nav-link" routerLink="/login" routerLinkActive="active"> Login </a>
              </li>
      
          </ul>
        </div>
      </div>
    </nav>-->




<!--<div class="row">
    <div class="col-sm-12">
      <h1 class="text-danger text-center text-uppercase h1">college website</h1>
    </div>
  </div>-->
<!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
         





<nav class="navbar navbar-nav m-0 ">

      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/departments" routerLinkActive="active">Departments</a>

      <a routerLink="/placement" routerLinkActive="active">Placement</a>

      <a routerLink="/library" routerLinkActive="active">Library</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>

    </nav>-->

















<router-outlet></router-outlet>