<div class="d2">
<h1 class="text-center">OUR PLACEMENT PARTNERS</h1>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-4 d1">

            <img src="/assets/hp.png" alt="hp" class="pic">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
        </div>
        <div class="col-sm-4 d1">
        <img src="/assets/techm.jpg" alt="tech mahindra" class="pic">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
    </div>
        
    <div class="col-sm-4 d1">
        <img src="/assets/wipro.png" alt="wipro" class="pic">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
    </div> </div>  <br><br><br>
        
      <div class="row text-center">
        <div class="col-sm-4 d1">
            <img src="/assets/zoho.png" alt="wipro" class="pic">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
        </div>  
        
       
       
   
      <div class="col-sm-4 d1">
        <img src="/assets/techm.jpg" alt="tech mahindra" class="pic">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
    </div>
        
    <div class="col-sm-4 d1">
        <img src="/assets/wipro.png" alt="wipro" class="pic">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
    </div> </div>  <br><br><br>
    <div class="row text-center">
        <div class="col-sm-4 d1">
            <img src="/assets/zoho.png" alt="wipro" class="pic">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
        </div>  
        
       
       
   
      <div class="col-sm-4 d1">
        <img src="/assets/techm.jpg" alt="tech mahindra" class="pic">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
    </div>
        
    <div class="col-sm-4 d1">
        <img src="/assets/wipro.png" alt="wipro" class="pic">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum eligendi ullam quae inventore quis aliquid minima assumenda eum doloremque.</p>
    </div> </div>  <br><br><br>

</div></div>

<div class="d3 container-fluid bg-primary">
    <footer class="d3">Copyright &copy; 2021. All rights Reserved. xyzcollege.com</footer>
</div>